.dropdown {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--background-2);
    color: var(--color-text);
    font-size: 16px;
    transition: border-color 0.2s;
}

.dropdown:focus {
    border-color: var(--color-primary);
    outline: none;
}