@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --background-2: #ffffff;
  --foreground: #171717;


    /* custom variables */

    --color-text: #2d2d2d;
    --color-muted: #868686;
    --color-muted-2: #e5e5e5;
    --color-primary: #40bdff;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
