.card {
    background-color: var(--background-2);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    transition: background-color 0.3s;
}

.visible {
}

.checked {
    background-color: var(--color-muted-2);
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.name {
    font-size: 16px;
    color: var(--color-text);
}

.quantity {
    font-size: 14px;
    color: var(--color-muted);
}

